#header {
     background:url('images/background.jpg');
     height: 100vh;
     background-repeat:no-repeat;

     background-color: transparent;
     background-attachment: fixed;
}
.heading {
    padding: 200px;
    text-align: center;
}
.hr1 {
    border: 1px solid #696969;
}
img {
    float: center;
    margin-top: 50px;
}
.box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.box span{
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    margin: -10px;
}
.box span:nth-child(1) {
    animation-delay: -0.2s;
}
.box span:nth-child(2) {
    animation-delay: -0.4s;
}
@keyframes animate {
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar {
    background-color: #696969;
}
.nav-bar .fa-bars {
    font-size: 35px;
    color: #fff;
}
navbar-toggler {
    outline: none !important;
}
.navbar-nav {
    float: right;
}
.navbar-nav .nav-item:hover .nav-link {
    color: #fff;
    font-size: 25px;
}
.nav-link {
    color: #fff;
}
.navbar-brand {
    color: #fff;
    font-size: 25px;
}
.social-icons {
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}
.social-icons ul li:hover {
    padding-left: 30px;
    width: 80px;
    transition: 0.8s;

}
.social-icons ul {
    padding: initial;
}
.profile {
    padding-top: 10px;
    margin-bottom: -170px;
}
.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    border: 5px solid #FEDE00;
}
.name {
    padding: 120px 0 0;
}
.summary {
    padding: 30px 20px;
}
.profile {
    background: #E0E0E0;
}
.projects {
    padding-top: 20px;
    text-align: center;
    background: #E0E0E0;
}
.sub-head {
    text-align: center;
    padding-bottom: 10px;
}
.sub-head1 {
    margin: 10px 0;
    text-align: left;
}
.sub-head2 {
    text-align: center;
    padding-top: 30px;
}
.com_name {
    padding-top: 25px;
    text-align: center;
}
.desig {
    padding-top: 25px;
}

.bullet {
    align: left;
    type: disc;
    margin: 0 25px;
    padding: 0;
    text-align: left;
}
.skills {
    background: #E0E0E0;
    margin-top: 10px;
    padding-bottom: 30px;
}
.main {
    width: 350px;
    float: left;
    text-align: left;
    font-size: 20px;
    padding-top: 15px;
}
.side {
    float: left;
    padding-top: 15px;
    text-align: left;
    width: 750px;
}
.certifications {
    margin-top: -20px;
    text-align: center;
    padding-bottom: 30px;
}
.certi {
    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
    font-size: 20px;
}
.education {
    padding-top: 30px;
    padding-bottom: 30px;
}
.timeline {
    padding-left: 390px;
    list-style-type: none;
    position: relative;
}
.timeline:before {
    content: '';
    display: inline-block;
    background: #000;
    margin-left: 330px;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li h4 {
    background-color: #000;
    margin-right: 380px;
    padding: 5px 0 5px 20px;
    column-rule-color: #fff;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.timeline li:before {
    content: '';
    display: inline-block;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 350px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.contact {
    background: url('images/contact.jpg');
    padding-top: 10px;
    background-repeat:no-repeat;
    background-size: cover;
    color: #fff;
    background-color: transparent;
    background-attachment: fixed;
}
.contact .row {
    padding: 10px 0;
    font-size: 22px;
}
.contact .col-md-6 .fa {
    padding: 10px;
    font-size: 40px;
}
.contact .btn {
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}
.contact .btn:focus {
    box-shadow: none;
}
.contact .btn:hover {
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.6s;
}
.contact .btn .fa {
    margin-right: 10px;
}
.resume {
    color: #fff;
}
.footer {
    text-align: center;
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}